.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px ;
  background-color: white;
  color: black;
  padding: 20px 40px;
  font-size: 30px;
  font-style: oblique;
}
